
<link rel="stylesheet" href="/assets/store_new.css.scss"> 

  
<div class ="dahong-newstore-position-box">
  <div><h3 class = "dahong-newstore-title">가게 등록 페이지</h3></div>
  
<% if @store.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@store.errors.count, "error") %> 때문에 이 글을 저장할 수 없습니다:</h2>
    
    <ul>
    <% @store.errors.full_messages.each do |msg| %>
     
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

   <%= form_for @store do |f| %>
 
      <div class="dahong-newstore-row">
        <span class = "dahong-newstore-label"><%= f.label '점포이름' %></span>
           <span class = "dahong-newstore-inputbox"><%= f.text_field :store_name %></span></div>  
           
      <div class="dahong-newstore-row">
        <span class = "dahong-newstore-label"><%= f.label :'점포 종류' %></span>
           <span class = "dahong-newstore-inputbox"><%= f.select(:store_category) do %>
                  <% [ ['식당', '식당'], ['카페', '카페'],
                       ['가구점', '가구점'], ['노래방', '노래방'],
                       ['옷집', '옷집'], ['PC방', 'PC방'],
                       ['술집', '술집'], ['서점', '서점'] ].each do |c| -%>
                  <%= content_tag(:option, c.first, value: c.last) %>
                  <% end %>
                  <% end %></span></div>
                  
                  
      <%= f.hidden_field(:user_id, :value => current_user.id) %>
      <div class="dahong-newstore-row">
        <span class = "dahong-newstore-label"><%= f.label :'주소' %></span>
           <span class = "dahong-newstore-inputbox"><%= f.text_field :address,  placeholder: "주소찾기를 눌러주세요" %></span>
           <input type="button" class="btn dahong-address-search-btn" style="background-color: #f96565; color: white;" onclick="address_search()" value="주소찾기"><br>
      </div>
           
      <div class="dahong-newstore-row">
        <span class = "dahong-newstore-label"><%= f.label :'상세주소' %></span>
           <span class = "dahong-newstore-inputbox"><%= f.text_field :detail_address %></span></div>
           
      <div class="dahong-newstore-row">
        <span class = "dahong-newstore-label"><%= f.label :'연락처' %></span>
           <span class = "dahong-newstore-inputbox"><%= f.telephone_field :contact %></span></div>

      <div class="dahong-newstore-row">
        <span class = "dahong-newstore-label"><%= f.label :'한줄소개' %></span>
           <span class = "dahong-newstore-inputbox"><%= f.text_field :short_content %></span></div>
           
                 
      <div class="dahong-newstore-row">
        <span class = "dahong-newstore-label"><%= f.label :'상세소개' %></span> <br><br>
    
        <%= f.text_area :detail_content, :class => "tinymce", :rows => 40, :cols => 90 %>

        <%= tinymce %>
        <script type="text/javascript">
          tinyMCE.init({
                          mode : "textareas",
                          theme : "advanced",
                          force_br_newlines : false,
                          force_p_newlines : false,
                          forced_root_block : '',
          });
        </script>        
                  
           
      <div class="dahong-newstore-row">
        <span class = "dahong-newstore-label"><%= f.label :'사진' %>
        <span style="float:right;margin-right:10px;color:#ff6c6c">*대표사진</span></span>
           <span class = "dahong-newstore-inputbox"><%= f.file_field :photo %> 
                                                     <%= f.file_field :photo2 %>
                                                     <%= f.file_field :photo3 %></span></div>
     
     <div class ="dahong-newstore-submit" >
       <%= f.submit "홍보" %>
       </div>
   </div>
    
   
<% end %>

  </div>
 
</div>
</div>


<script src="https://ssl.daumcdn.net/dmaps/map_js_init/postcode.v2.js"></script>

<div id="layer" style="display:none;position:fixed;overflow:hidden;z-index:1;-webkit-overflow-scrolling:touch;">
<img src="//t1.daumcdn.net/localimg/localimages/07/postcode/320/close.png" id="btnCloseLayer" style="cursor:pointer;position:absolute;right:-3px;top:-3px;z-index:1" onclick="closeDaumPostcode()" alt="닫기 버튼">
</div>

<script>
    var element_layer = document.getElementById('layer');

    function closeDaumPostcode() {
        element_layer.style.display = 'none';
    }

    function address_search() {
        new daum.Postcode({
            oncomplete: function(data) {
                var fullAddr = data.address; 
                var extraAddr = '';

                if(data.addressType === 'R'){
                    if(data.bname !== ''){
                        extraAddr += data.bname;
                    }
                    if(data.buildingName !== ''){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    fullAddr += (extraAddr !== '' ? ' ('+ extraAddr +')' : '');
                }

                document.getElementById('store_address').value = fullAddr;

                element_layer.style.display = 'none';
            },
            width : '100%',
            height : '100%',
            maxSuggestItems : 5
        }).embed(element_layer);

        element_layer.style.display = 'block';

        initLayerPosition();
    }

    function initLayerPosition(){
        var width = 300; 
        var height = 400;
        var borderWidth = 5; 

        element_layer.style.width = width + 'px';
        element_layer.style.height = height + 'px';
        element_layer.style.border = borderWidth + 'px solid';
        element_layer.style.left = (((window.innerWidth || document.documentElement.clientWidth) - width)/2 - borderWidth) + 'px';
        element_layer.style.top = (((window.innerHeight || document.documentElement.clientHeight) - height)/2 - borderWidth) + 'px';
    }
</script>